/* Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


/* Start Variables */
:root {
    /* ### Primary colors */
    --green: hsl(75, 94%, 57%);
    /* ### Neutral colors */
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

/* End Variables */

/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    background: var(--off-black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -ms-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
}

ul {
    list-style: none;
}

a {
    /* text-decoration: none; */
    color: var(--white);
}

/* End Global Rules */

/* Start Profile */

.profile {
    width: 35%;
    background-color: var(--dark-grey);
    margin: 2em auto;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}


.profile .container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 2rem 0;
}

.profile .container .img-container {
    width: 100%;
    text-align: center;

    & img {
        width: 25%;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
}

.profile .container .profile-data {
    text-align: center;

    & h1 {
        font-weight: 500;
        margin-top: 1em;
        font-size: 2em;
        margin-bottom: 0;
    }

    & h3 {
        color: var(--green);
        font-size: 17px;
        margin-top: .6em;
    }

    & p {
        margin-top: 1.5em;
        color: #c2c2c2;
    }
}

.social-links {

    width: 80%;

    & ul {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-top: 1.5rem;
    }

    & li {
        background: var(--grey);
        font-size: 15px;
        padding: 18px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        width: 100%;
        margin-top: 1.3em;
        font-weight: 700;
        color: #c2c2c2;
        text-align: center;
        transition: .3s all ease-in-out;
        -webkit-transition: .3s all ease-in-out;
        -moz-transition: .3s all ease-in-out;
        -ms-transition: .3s all ease-in-out;
        -o-transition: .3s all ease-in-out;
    }

    & li:hover {
        cursor: pointer;
        background-color: var(--green);
        color: var(--dark-grey);
    }
}

@media (max-width: 793px) {

    .profile .container .profile-data {
        & h1 {
            font-size: 1em;
        }

        & h3 {
            font-size: 8px;
        }

        & p {
            font-size: 8px;
        }
    }

    .social-links {

        & li {
            font-size: 6px;
            font-weight: 600;
        }

    }

    footer {
        font-size: 10px;

        & a:hover {
            color: var(--green);

            letter-spacing: 1px;
            font-size: 4px;
        }
    }

}

footer {
    width: 100%;
    text-align: center;
    padding: 25px;
    background-color: var(--dark-grey);
    position: absolute;
    bottom: 0;

    & a {
        transition: 0.3s all ease-in-out;
        -webkit-transition: 0.3s all ease-in-out;
        -moz-transition: 0.3s all ease-in-out;
        -ms-transition: 0.3s all ease-in-out;
        -o-transition: 0.3s all ease-in-out;
    }

    & a:hover {
        color: var(--green);
        letter-spacing: 2px;
        font-size: 15px;
    }
}